<div th:fragment="footer">
<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title _mstTextHash="985114" _mstHash="36">Продукт</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
            <small class="d-block mb-3 text-body-secondary" _msttexthash="1859585" _msthash="37">© 2017–2024 гг.</small>
        </div>
        <div class="col-6 col-md">
            <h5 _msttexthash="984971" _msthash="38">Функции</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="1863303" _msthash="39">Крутые штуки</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="3278431" _msthash="40">Случайная функция</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2665338" _msthash="41">Функция команды</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="6244706" _msthash="42">Материал для разработчиков</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="982085" _msthash="43">Еще один</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2105441" _msthash="44">Последний раз</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 _msttexthash="988546" _msthash="45">Ресурсы</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="1620216" _msthash="46">Имя ресурса</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="802815" _msthash="47">Ресурс</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2381314" _msthash="48">Еще один ресурс</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2664870" _msthash="49">Итоговый ресурс</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 _msttexthash="988546" _msthash="50">Ресурсы</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="474903" _msthash="51">Дело</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="1848717" _msthash="52">Образование</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2379260" _msthash="53">Правительство</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="981331" _msthash="54">Игровой</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 _msttexthash="631592" _msthash="55">Около</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="978861" _msthash="56">Команда</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="2957227" _msthash="57">Местонахождения</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="3938324" _msthash="58">Конфиденциальность</a></li>
                <li><a class="link-secondary text-decoration-none" href="#" _msttexthash="985985" _msthash="59">Условия</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>